/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.stats-card {
	padding: var(--gap-md) var(--gap-lg);
	margin: var(--gap-sm) 0;
}

.stats-card .restart-button {
	display: block;
	width: fit-content;
	min-width: 100px;
	margin: var(--gap-md) auto var(--gap-xs) auto;
}
